accelerate
evaluate
datasets
jsonlines
jsonargparse
lightning
numexpr
peft
pybind11
pytablewriter
rouge-score
sacrebleu
scikit-learn
sqlitedict
torch
traker
tqdm
tqdm-multiprocess
transformers
zstandard
dill
word2number
more_itertools
numpy
matplotlib
pandas
pandarallel